<nav class="h-14 w-full fixed bg-primary opacity-80 backdrop-blur-2xl shadow-lg flex flex-row text-violet-200 font-semibold">
    <div id="nav_bar_left" class="basis-6/12 lg:basis-3/12 py-4 px-10 text-left">
      <Heroicons.bars_3 class="h-6 w-10 lg:hidden inline-block" onclick="document.getElementById('mobile_nav_menu').classList.toggle('hidden')"/>
      <a href="/" class="inline-block">Book & Owl</a>
    </div> <%!-- end #nav_bar_left --%>
    <div id="nav_bar_center" class="hidden lg:block basis-7/12 py-4">
      <ul class="flex flex-row justify-center">
        <li class="inline-block px-10"><a href="#development">Development</a></li>
        <li class="inline-block px-10"><a href="#forensics">Forensics</a></li>
        <li class="inline-block px-10"><a href="#education">Education</a></li>
        <li class="inline-block px-10"><a href="#about">About</a></li>
        <li class="inline-block px-10"><a href="/blog">Blog</a></li>
      </ul>
    </div> <%!-- end #nav_bar_center --%>
    <div id="nav_bar_right" class="basis-6/12 lg:basis-2/12 py-4 px-10 text-right">
      <a href="/login">Client Dashboard</a>
    </div> <%!-- end #nav_bar_right --%>
</nav>
<div id="main">
  <div id="mobile_nav_menu" class="hidden  bg-primary opacity-80 backdrop-blur-2xl min-h-screen min-w-screen pt-60">
    <ul class="text-center text-2xl text-violet-200 font-semibold">
      <.mobile_nav_item href="/">Home</.mobile_nav_item>
      <.mobile_nav_item href="#development">Development</.mobile_nav_item>
      <.mobile_nav_item href="#forensics">Forensics</.mobile_nav_item>
      <.mobile_nav_item href="#education">Education</.mobile_nav_item>
      <.mobile_nav_item href="#about">About</.mobile_nav_item>
      <.mobile_nav_item href="#blog">Blog</.mobile_nav_item>
    </ul>
  </div> <%!-- end #mobile_nav_menu --%>
      <div class="flex justify-center align-middle min-h-screen">
        <div class="mt-20 mx-12 mb-12 bg-white/20 flex items-center">
          <div class=""></div>
          <div class=" text-white text-center bg-primary/80">
            <h1 class="text-5xl font-bold">Book & Owl</h1>
            <div>
              <span>BUILD</span>
              <span>DELVE</span>
              <span>LEARN</span>
            </div>
            <p class="py-6">Asset csystems BATF Blowpipe Soviet South Africa wire transfer. NSA event
              security Compsec spies benelux Sears Tower airframe red noise. Commecen Steve
              Case SCUD missile Kosovo quarter bce Bellcore SAPO. Asset IRA TWA rail gun CDMA
              embassy USCODE. Bin Laden analyzer S Key ASIO espionage South Africa Ermes ASDIC
              NASA. MP5KSD Etacs plutonium Putin Tony Blair corporate security. Telex ANDVT
              MD5 kilderkin Comirex strategic AIMSX Hugo Chavez Rubin. Medco PGP asset EuroFed
              Area 51 64 Vauxhall Cross. Yukon Gazprom Crypto AG quiche secure COSCO Belknap
              Elvis MD5 KH11. MD2 PGP Nazi Abu Ghraib Lon Horiuchi. Crowell Treasury pink
              noise strategic LLNL airframe embassy AK47. Mafia Forte ebomb quarter Dateline
              kibo Janet Reno. Reno Bellcore kibo AVN NATO counter terrorism Downing Street
            </p>
            <p>Next...<Heroicons.arrow_down_circle solid class="fill-primary h-10 w-10 animate-pulse" /></p>
          </div>
        </div>
      </div>
      <div class="divider"></div> 
      <div id="development" class="hero min-h-screen bg-base-200">
        <div class="hero-content flex-col lg:flex-row">
          <h2 class="text-3xl font-bold">Development</h2>
          <p class="py-6">Asset csystems BATF Blowpipe Soviet South Africa wire transfer. NSA event
            security Compsec spies benelux Sears Tower airframe red noise. Commecen Steve
            Case SCUD missile Kosovo quarter bce Bellcore SAPO. Asset IRA TWA rail gun CDMA
            embassy USCODE. Bin Laden analyzer S Key ASIO espionage South Africa Ermes ASDIC
            NASA. MP5KSD Etacs plutonium Putin Tony Blair corporate security. Telex ANDVT
            MD5 kilderkin Comirex strategic AIMSX Hugo Chavez Rubin. Medco PGP asset EuroFed
            Area 51 64 Vauxhall Cross. Yukon Gazprom Crypto AG quiche secure COSCO Belknap
            Elvis MD5 KH11. MD2 PGP Nazi Abu Ghraib Lon Horiuchi. Crowell Treasury pink
            noise strategic LLNL airframe embassy AK47. Mafia Forte ebomb quarter Dateline
            kibo Janet Reno. Reno Bellcore kibo AVN NATO counter terrorism Downing Street
          </p>
          <p>Next...<Heroicons.arrow_down_circle solid class="fill-primary h-10 w-10 animate-pulse" /></p>
        </div>
      </div>
      <div class="divider"></div> 
      <div id="forensics" class="hero min-h-screen bg-base-200">
        <div class="hero-content flex-col lg:flex-row">
          <h2 class="text-3xl font-bold">Forensics</h2>
          <p class="py-6">Asset csystems BATF Blowpipe Soviet South Africa wire transfer. NSA event
            security Compsec spies benelux Sears Tower airframe red noise. Commecen Steve
            Case SCUD missile Kosovo quarter bce Bellcore SAPO. Asset IRA TWA rail gun CDMA
            embassy USCODE. Bin Laden analyzer S Key ASIO espionage South Africa Ermes ASDIC
            NASA. MP5KSD Etacs plutonium Putin Tony Blair corporate security. Telex ANDVT
            MD5 kilderkin Comirex strategic AIMSX Hugo Chavez Rubin. Medco PGP asset EuroFed
            Area 51 64 Vauxhall Cross. Yukon Gazprom Crypto AG quiche secure COSCO Belknap
            Elvis MD5 KH11. MD2 PGP Nazi Abu Ghraib Lon Horiuchi. Crowell Treasury pink
            noise strategic LLNL airframe embassy AK47. Mafia Forte ebomb quarter Dateline
            kibo Janet Reno. Reno Bellcore kibo AVN NATO counter terrorism Downing Street
          </p>
          <p>Next...<Heroicons.arrow_down_circle solid class="fill-primary h-10 w-10 animate-pulse" /></p>
        </div>
      </div>
      <div class="divider"></div> 
      <div id="education" class="hero min-h-screen bg-base-200">
        <div class="hero-content flex-col lg:flex-row">
          <h2 class="text-3xl font-bold">Education</h2>
          <p class="py-6">Asset csystems BATF Blowpipe Soviet South Africa wire transfer. NSA event
            security Compsec spies benelux Sears Tower airframe red noise. Commecen Steve
            Case SCUD missile Kosovo quarter bce Bellcore SAPO. Asset IRA TWA rail gun CDMA
            embassy USCODE. Bin Laden analyzer S Key ASIO espionage South Africa Ermes ASDIC
            NASA. MP5KSD Etacs plutonium Putin Tony Blair corporate security. Telex ANDVT
            MD5 kilderkin Comirex strategic AIMSX Hugo Chavez Rubin. Medco PGP asset EuroFed
            Area 51 64 Vauxhall Cross. Yukon Gazprom Crypto AG quiche secure COSCO Belknap
            Elvis MD5 KH11. MD2 PGP Nazi Abu Ghraib Lon Horiuchi. Crowell Treasury pink
            noise strategic LLNL airframe embassy AK47. Mafia Forte ebomb quarter Dateline
            kibo Janet Reno. Reno Bellcore kibo AVN NATO counter terrorism Downing Street
          </p>
          <p>Next...<Heroicons.arrow_down_circle solid class="fill-primary h-10 w-10 animate-pulse" /></p>
        </div>
      </div>
      <div class="divider"></div> 
      <div id="about" class="hero min-h-screen bg-base-200">
        <div class="hero-content flex-col lg:flex-row">
          <h2 class="text-3xl font-bold">About B&O</h2>
          <p class="py-6">Asset csystems BATF Blowpipe Soviet South Africa wire transfer. NSA event
            security Compsec spies benelux Sears Tower airframe red noise. Commecen Steve
            Case SCUD missile Kosovo quarter bce Bellcore SAPO. Asset IRA TWA rail gun CDMA
            embassy USCODE. Bin Laden analyzer S Key ASIO espionage South Africa Ermes ASDIC
            NASA. MP5KSD Etacs plutonium Putin Tony Blair corporate security. Telex ANDVT
            MD5 kilderkin Comirex strategic AIMSX Hugo Chavez Rubin. Medco PGP asset EuroFed
            Area 51 64 Vauxhall Cross. Yukon Gazprom Crypto AG quiche secure COSCO Belknap
            Elvis MD5 KH11. MD2 PGP Nazi Abu Ghraib Lon Horiuchi. Crowell Treasury pink
            noise strategic LLNL airframe embassy AK47. Mafia Forte ebomb quarter Dateline
            kibo Janet Reno. Reno Bellcore kibo AVN NATO counter terrorism Downing Street
          </p>
        </div>
      </div>
</div> <%!-- End #main --%>
<footer class="flex mb-3 p-10 bg-base-200 text-base-content text-stone-200">
  <div class="basis-1/4"><img src="/images/logo.svg" class="h-10 m-auto"/></div>
  <div class="basis-3/4 flex flex-col lg:flex-row">
    <div class="basis-1/3 mx-8 mb-8">
      <h3 class="text-primary font-bold">Copyright &copy; 2023 Book & Owl LLC</h3>
      <p class="font-extralight italic">Reliable, high-quality, technical consulting</p>
      <p class="font-extralight">All rights reserved.</p>
    </div>
    <div class="basis-1/3 mx-8 mb-8">
      <h3 class="text-primary font-semibold">Contact Us</h3>
      <p><a class="" href="mailto:gwhilts@booknowl.com">gwhilts@booknowl.com</a></p>
    </div>
    <div class="basis-1/3 mx-8 mb-8">
      <h3 class="text-primary font-semibold">Find Us On-line</h3>
      <ul>
        <li><a class="rss" href="/blog"><Heroicons.rss class="h-8 w-8 pr-2 inline-block"/>Blog</a></li>
        <li><a class="https://www.github.com/gwhilts"><Heroicons.code_bracket class="h-8 w-8 pr-2 inline-block"/>Code</a></li>
        <li><a class=""><Heroicons.video_camera class="h-8 w-8 pr-2 inline-block"/>Videos</a></li>
      </ul>
    </div>
  </div>
</footer>


